# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Kubernetes secrets
*.secret.yaml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
# Secrets and local files
credentials-velero*
bsl-patch.json
zap-report*.html
zap-report*.json
